CompileFlags:
  Compiler: /usr/bin/g++
  Add:
    - -std=gnu++17
    - -I/home/goose/small_dlio/include
    - -I/home/goose/small_dlio/include/small_dlio
    - -I/usr/include/eigen3
    - -I/usr/include/opencv4
    - -I/usr/include/x86_64-linux-gnu/opencv4
    - -I/usr/local/include
    - -I/home/goose/fastlio/livox_ws/install/livox_ros_driver2/include/livox_ros_driver2
    - -I/usr/include/pcl-1.14
    - -I/opt/ros/jazzy/include
    # ROS 2 packages
    - -I/opt/ros/jazzy/include/rclcpp
    - -I/opt/ros/jazzy/include/tracetools
    - -I/opt/ros/jazzy/include/service_msgs
    - -I/opt/ros/jazzy/include/sensor_msgs
    - -I/opt/ros/jazzy/include/std_msgs
    - -I/opt/ros/jazzy/include/geometry_msgs
    - -I/opt/ros/jazzy/include/nav_msgs
    - -I/opt/ros/jazzy/include/tf2_ros
    - -I/opt/ros/jazzy/include/tf2
    - -I/opt/ros/jazzy/include/tf2_eigen
    - -I/opt/ros/jazzy/include/tf2_msgs
    - -I/opt/ros/jazzy/include/pcl_conversions
    - -I/opt/ros/jazzy/include/pcl_msgs
    - -I/opt/ros/jazzy/include/rcl
    - -I/opt/ros/jazzy/include/rcl_interfaces
    - -I/opt/ros/jazzy/include/rosidl_runtime_c
    - -I/opt/ros/jazzy/include/rosidl_runtime_cpp
    - -I/opt/ros/jazzy/include/rosidl_typesupport_interface
    - -I/opt/ros/jazzy/include/rosidl_typesupport_c
    - -I/opt/ros/jazzy/include/rosidl_typesupport_cpp
    - -I/opt/ros/jazzy/include/rosidl_typesupport_fastrtps_c
    - -I/opt/ros/jazzy/include/rosidl_typesupport_fastrtps_cpp
    - -I/opt/ros/jazzy/include/rosidl_typesupport_introspection_c
    - -I/opt/ros/jazzy/include/rosidl_typesupport_introspection_cpp
    - -I/opt/ros/jazzy/include/rosidl_dynamic_typesupport
    - -I/opt/ros/jazzy/include/builtin_interfaces
    - -I/opt/ros/jazzy/include/action_msgs
    - -I/opt/ros/jazzy/include/unique_identifier_msgs
    - -I/opt/ros/jazzy/include/rmw
    - -I/opt/ros/jazzy/include/rmw_implementation
    - -I/opt/ros/jazzy/include/rcl_logging_interface
    - -I/opt/ros/jazzy/include/rcutils
    - -I/opt/ros/jazzy/include/rcpputils
    - -I/opt/ros/jazzy/include/rcl_yaml_param_parser
    - -I/opt/ros/jazzy/include/libstatistics_collector
    - -I/opt/ros/jazzy/include/message_filters
    - -I/opt/ros/jazzy/include/statistics_msgs
    - -I/opt/ros/jazzy/include/type_description_interfaces
