.vscode/
.claude/

build/
install/
log/

.DS_Store

AGENTS.md
compile_commands.json
.clangd
LeLeMc2010_quadrotor.pdf
[2203.03749] Direct LiDAR-Inertial Odometry_ Lightweight LIO with Continuous-Time Motion Correction.pdf